body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
}

.footer {
    margin: 0;
    padding: 0.8em;
    background-color: rgba(128, 128, 128, 0.164);
    text-align: center;
}

.header {
    margin: 0;
    padding: 0;
    color: white;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 1em; 
    text-align: left;
    align-items: left;
}

.header-box{
    background-color: #000000;
    color: white;
    border-radius: 1em;
    padding: 2em;
    margin: 0;
}

.col-quiz{
    margin-top: 50px;
}

.dash{
   margin: 1em;
}

.dash-container{
    background-color: bisque;
    border-radius: 1em;
    text-align: center;
    max-width: max-content;
    margin: auto;
    padding: 1em;
}

.col{
    margin-bottom: 20px;
}
  
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: stretch;
}

.col-6-12{
    flex: 1;
    max-width: 50%;
    color: black;
    text-align: center;
    margin: auto;
    padding: 1em;
    height: 100px;
}


.topic{
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

button {
    text-decoration: none;
    background-color: white;
    border-radius: 0.5rem;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 1em;
    border: none;
}

.test-links{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.tests{
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
}

button:active{
    transform: translateY(2px); 
      box-shadow: 0 0 5px rgba(109, 108, 108, 0.3);  
}

button:hover{
    transform: translateY(-2px); 
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

table {
    width: 80%;
    margin: auto;
}

th, td {
    text-align: center;
    padding: 0.5em;
    margin: 0 auto;
    max-width: 80%;
}

th{
    background-color: black;
    color: white;
    border-radius: 0.5em;
}

td{
    background-color: whitesmoke;
    color: #0F1035;
    border-radius: 0.5em;
    padding: 1em;
}

  


/* Apply transition to the element you want to animate */
.animated-element {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  /* Add a class to trigger the animation when the page loads */
  .animated-element.active {
    opacity: 1;
  }
  

 /* Define a keyframe animation */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Apply the animation to the element */
  .animated-element {
    animation: fadeIn 1s ease-in-out;
    opacity: 0; /* optional initial state */
  }
  
  
  /* Apply the animation to the element */
  .animated-element {
    animation: fadeIn 1s ease-in-out;
    opacity: 0; /* optional initial state */
  }
  

/* Media Queries */
@media only screen and (max-width: 768px) {

    .logo h3{
        margin: 0;
        padding: 0.2em;
    }

    .svg{
        display: none;
    }

    .flex{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: nowrap;
        width: 80%;
        margin: auto;
    }

    .col-6-12{
        flex: 1;
        max-width: 50%;
        color: black;
        text-align: center;
        margin: auto;
        border-radius: 1em;
        padding: 1em;
    }

    table {
        width: 90%;
        margin: auto;
    }

    .menu ul {
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: aliceblue;
        display: none;
    }

    th, td{
        text-align: left;
    }

    .menu ul.show {
        display: flex;
    }
}
