html {
scroll-behavior: smooth;
}

* {
transition: all 0.5s ease;
}

/* Hide scrollbar for WebKit browsers */
body::-webkit-scrollbar {
width: 0; /* Adjust the width as needed */
}

body::-webkit-scrollbar-thumb {
background-color: transparent; /* Make the thumb transparent */
}

body {
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
overflow-scrolling: touch;
min-height: 100vh;
font-family: 'Josefin Sans', sans-serif;
transition: font-size 0.3s ease; /* Apply a smooth transition for font size changes */
}

.section-table{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.section-schedule{
  background-color: #DBE7C9;
  color: black;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 60px;
  border-radius: 1em;
  margin: 1em;
}

.schedule{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  margin-top: 0;
}

.calender {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
}

/* Hide the scrollbar for WebKit browsers (Safari and Chrome) */
.calender::-webkit-scrollbar {
  display: none;
}

.card-layout::-webkit-scrollbar {
  display: none;
}

.day{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: white;
  color: black;
  max-width: max-content;
  margin-left: 10px;
  padding: 1em;
  border-radius: 1em;
  flex: 0 0 50%;
}

.day:hover {
  background-color: white;
  color: black;
}

.day:first-child{
  margin-left: 0;
}

.reminder-content{
  background-color: #F8FAE5;
  color: black;
  padding: 1em;
  border-radius: 1em;
  max-width: max-content;
  margin-top: 1em;
}

.reminder{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.footer {
margin: 0;
padding: 0.8em;
background-color: rgba(128, 128, 128, 0.164);
text-align: center;
}

.header {
margin: 0;
padding: 0;
color: white;
}

.home {
display: flex;
flex-direction: column;
justify-content: flex-start;
margin: 0;
padding: 1em; 
text-align: left;
align-items: left;
}

.header-box{
background-color: #1D2B53;
background-image: url(svg/topography.svg);
color: white;
border-radius: 1em;
padding: 2em;
margin: 0;
}

.flex-question {
display: flex;
flex-direction: row;
align-items: center;
}

.button{
text-align: left;
margin: 0;
padding: 0.1em;
border-radius: 2em;
background-color: #FBF9F1;
}

.col-quiz{
margin-top: 50px;
}

.dash{
margin: 1em;
margin-bottom: 60px;
}

.dash-flex {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 20px;
}

.dash-flex img {
margin-left: 5px;
}

.margin-top-2{
margin-top: 40px;
}

.dash-container{
text-align: center;
max-width: max-content;
margin: auto;
padding: 1em;
padding-bottom: 0;
padding-top: 0.5em;
}

.col{
margin-bottom: 20px;
}

svg{
padding: 0;
margin: 0;
}
.subheading{
color: gray;
text-align:center;
margin-bottom:40px;
width: 80%;
margin: auto;
}

.col-header{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.flex{
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: nowrap;
align-items: stretch;
margin-bottom: 10px;
}

.col-6-12{
flex: 1;
display: flex;
flex-direction: column;
color: black;
text-align: center;
margin: auto;
padding: 0.5em;
height: 100px;
width: 200px;
border-radius:1em;
border-radius: 1em;
margin-right: 10px;
}

.col-6-12 h6{
color: gray;
padding: 0;
margin: 1em;
}

.col-6-12 h2{
font-size: 30px;
}

.col-6-12:last-child{
margin-right: 0px;
}


.topic{
padding: 0;
margin-top: 20px;
margin-bottom: 20px;
color: white;
}

button {
text-decoration: none;
background-color: white;
border-radius: 0.5rem;
font-family: 'Josefin Sans', sans-serif;
margin: 0;
padding: 1.1em;
border: none;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.table-flex{
display: flex;
flex-direction: row;
justify-content: space-between;
text-align: left;
}

.table-button {
margin-bottom: 10px;
}

.table-questions{
font-size: 14px; 
text-align:left;
color: gray;
}

#topic-text{
margin-right: 40px;
}

.table{
margin-top: 20px;
margin-bottom: 40px;
}

.test-links{
text-align: center;
margin-top: 40px;
margin-bottom: 10px;
}

.test-links-2{
text-align: center;
margin-top: 50px;
margin-bottom: 10px;
}

a{
text-decoration: none;
color: black;
}

.tests{
margin-top: 20px;
margin-bottom: 40px;
width: 100%;
}

button:active{
transform: translateY(2px); 
box-shadow: 0 0 5px rgba(109, 108, 108, 0.3);  
}

button:hover{
transform: translateY(-2px); 
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-layout{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 75%;
  margin: auto;
  overflow: auto;
}

.cards{
  flex: 0 0 20%;
}

.card{
  background-color: #F8F4EC;
  color: black;
  padding: 1.5em;
  border-radius: 1em;
  margin-right: 10px;
}

.card-text{
  margin-top: 5px;
  font-size: 12px;
}

.card-active{
  background-color: black;
  color: white;
  padding: 1.5em;
  margin: auto;
  border-radius: 1em;
}

.card:hover{
  background-color: white;
  color: black;
}

.dash-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 40px;
  height: 80px;
}

.dash-card img{
  margin-bottom:20px;
}

table {
width: 75%;
margin: auto;
}

th, td {
text-align: center;
padding: 0.5em;
margin: 0 auto;
max-width: 80%;
}

td{
background-color: #F8F4EC;
color: #0F1035;
border-radius: 0.5em;
padding: 1em;
}

/* Apply transition to the element you want to animate */
.animated-element {
opacity: 0;
transition: opacity 1s ease-in-out;
}

/* Add a class to trigger the animation when the page loads */
.animated-element.active {
opacity: 1;
}


/* Define a keyframe animation */
@keyframes fadeIn {
from {
opacity: 0;
}
to {
opacity: 1;
}
}

/* Apply the animation to the element */
.animated-element {
animation: fadeIn 1s ease-in-out;
opacity: 0; /* optional initial state */
}


/* Apply the animation to the element */
.animated-element {
animation: fadeIn 1s ease-in-out;
opacity: 0; /* optional initial state */
}


/* Media Queries */
@media only screen and (max-width: 768px) {

.svg{
display: none;
}

table {
width: 90%;
margin: auto;
}

.schedule{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2em;
}

.section-schedule{
  background-color: #DBE7C9;
  color: black;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 1em;
  margin: 1em;
}

.card-layout{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 90%;
  margin: auto;
}

.col-6-12{
height: 100px;
width: 30vw;
}

th, td{
text-align: left;
}

}
