html {
scroll-behavior: smooth;
}

.smooth {
transition: all 0.5s ease;
}

/* Hide scrollbar for WebKit browsers */
body::-webkit-scrollbar {
width: 0; /* Adjust the width as needed */
}

body::-webkit-scrollbar-thumb {
background-color: transparent; /* Make the thumb transparent */
}

body {
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
user-select: none;
min-height: 100vh;
font-family: 'Josefin Sans', sans-serif;
transition: font-size 0.3s ease; /* Apply a smooth transition for font size changes */
}


.section-table{
display: flex;
flex-direction: column;
margin: 1em;
}

.section-schedule{
color: black;
display: flex;
flex-direction: column;
padding-top: 20px;
padding-bottom: 60px;
border-radius: 1em;
padding: 1em;
}

.schedule{
display: flex;
flex-direction: column;
width: 100%;
margin: auto;
margin-top: 40px;
}

.calender {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
position: relative;
overflow-x: scroll;
}

/* Hide the scrollbar for WebKit browsers (Safari and Chrome) */
.calender::-webkit-scrollbar {
display: none;
}

.card-layout::-webkit-scrollbar {
display: none;
}

.ul::-webkit-scrollbar {
display: none;
}

.day{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
background-color: #D5F0C1;
color: black;
max-width: max-content;
margin-left: 10px;
padding: 1em;
border-radius: 1em;
flex: 0 0 50%;
}

.day:first-child{
margin-left: 0;
}

.reminder-content{
background-color: white;
color: black;
padding: 1em;
border-radius: 1em;
max-width: max-content;
margin-top: 1em;
}

.reminder{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
}


hr {
border: none; /* Remove default border */
height: 1px; /* Set the height of the line */
background-color: #ccc; /* Set the color of the line */
}

.header {
margin: 0;
padding: 0;
color: white;
}

.home {
display: flex;
flex-direction: column;
justify-content: flex-start;
margin: 0;
padding: 1em; 
text-align: left;
align-items: left;
}

.header-box{
background-color: #1D2B53;
background-image: url(svg/topography.svg);
color: white;
border-radius: 1em;
padding: 2em;
margin: 0;
}

.flex-question {
display: flex;
flex-direction: row;
align-items: center;
}

.button{
text-align: left;
margin: 0;
padding: 0.1em;
border-radius: 2em;
background-color: #FBF9F1;
}

.col-quiz{
margin-top: 50px;
}

.dash{
margin: 1em;
display: flex;
margin-bottom: 40px;
flex-direction: column;
}

.dash-flex {
display: flex;
flex-direction: row;
align-items: center;
}

.calender-subhead {
font-weight: 100;
margin-top: 0px;
color: rgba(0, 0, 0, 0.8);
margin-bottom: 20px;
}

.dash-flex img {
margin-left: 5px;
}

.margin-top-2{
margin-top: 20px;
}

.dash-container{
padding-bottom: 0;
padding-top: 40px;
}

.col{
margin-bottom: 20px;
}

svg{
padding: 0;
margin: 0;
}
.subheading{
color: rgba(0, 0, 0, 0.8);
margin-bottom:40px;
margin: auto;
}

.col-header{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.flex {
display: flex;
flex-direction: row;
}

.col-6-12 {
display: flex;
flex-direction: column;
color: black;
text-align: center;
padding: 0.5em;
height: 100px;
width: 25%;
border-radius: 1em;
margin-right: 10px;
}

.col-6-12:last-child{
margin-right: 0;
}

@media (max-width: 768px) {
.flex {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.col-6-12 {
width: calc(50% - 21px);
margin-bottom: 10px;
margin-right: 10px;
}

.col-6-12:nth-child(2n) {
margin-right: 0;
}
}


.col-6-12 h6{
color: gray;
padding: 0;
margin: 1em;
}

.col-6-12 h2{
font-size: 30px;
}

.col-6-12:last-child{
margin-right: 0px;
}

.topic{
padding: 0;
margin-top: 20px;
margin-bottom: 20px;
color: white;
}

button {
text-decoration: none;
background-color: white;
border-radius: 0.5rem;
font-family: 'Josefin Sans', sans-serif;
margin: 0;
padding: 1.1em;
border: none;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.table-flex{
display: flex;
flex-direction: row;
justify-content: space-between;
text-align: left;
align-items: center;
}

.table-questions{
font-size: 12px; 
text-align:left;
}


.table-button {
margin-bottom: 10px;
}

#topic-text{
margin-right: 40px;
}

.table{
margin-top: 20px;
margin-bottom: 40px;
}

.test-links{
text-align: center;
margin-top: 40px;
margin-bottom: 10px;
}

.test-links-2{
text-align: center;
margin-top: 50px;
margin-bottom: 10px;
}

a{
text-decoration: none;
color: black;
}

.tests{
margin-top: 20px;
margin-bottom: 40px;
width: 100%;
}

button:active{
transform: translateY(2px); 
box-shadow: 0 0 5px rgba(109, 108, 108, 0.3);  
}

button:hover{
transform: translateY(-2px); 
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-layout{
display: flex;
flex-wrap: nowrap;
flex-direction: row;
width: 100%;
margin: auto;
overflow: auto;
}

.cards{
flex: 0 0 20%;
}

.card {
background-color: #637a9f13;
color: #637A9F;
padding: 1.5em;
border-radius: 1em;
margin-right: 10px;
font-weight: 900;
flex-shrink: 0;
}

.card-text {
margin-top: 5px;
font-size: 12px;
font-weight: 100;
}

.card:hover {
background-color: #637A9F;
color: white;
}


.dash-card{
display: flex;
flex-direction: column;
align-items: center;
flex-wrap: nowrap;
margin-top: 40px;
height: 80px;
}

.dash-card img{
margin-bottom:20px;
}

.about{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
padding-bottom: 0.5em;
padding-top: 0.5em;
width: 75%;
margin: auto;
}

table {
width: 100%;
margin: auto;
border-collapse: collapse;
}

.table-questions{
margin-top: 10px;
background-color: white;
color: #637A9F;
max-width: max-content;
padding: 0.5em;
border-radius: 1em;
font-weight: 100;
}

.table-flex{
padding: 1.2em;
background-color: #637a9f13;
color: #637A9F;
margin-top: 10px;
border-radius: 1em;
font-weight: 900;
}

.table-flex:hover{
background-color: #637A9F;
color: white;
}

.th {
color: #637A9F;
padding: 1em;
border-bottom: 1px solid #ddd;
font-weight: 900;
}

a {
-webkit-tap-highlight-color: rgba(0,0,0,0);
tap-highlight-color: rgba(0,0,0,0);
}

.box-placeholder {
display: block;
}

.box-placeholder .circle-placeholder {
height: 30px;
width: 30px;
background-color: #444;
/* Placeholder color */
border-radius: 50%;
/* Make it circular */
opacity: 0.1;
/* Placeholder opacity */
animation: rotateAnimation 1.5s infinite;
/* Infinite rotation animation */
}

.box-placeholder #topicContainerPlaceholder {
height: 12px;
/* Adjust the height based on your design */
width: 150px;
/* Adjust the width based on your design */
background-color: #444;
/* Placeholder color */
border-radius: 100px;
/* Rounded corners */
opacity: 0.1;
/* Placeholder opacity */
}

.box-placeholder #MCQCountPlaceholder {
display: inline-block;
background-color: #444;
/* Placeholder color */
height: 11px;
/* Adjust the height based on your design */
width: 60px;
/* Adjust the width based on your design */
border-radius: 100px;
/* Rounded corners */
opacity: 0.1;
/* Placeholder opacity */
}

@keyframes rotateAnimation {
0% {
transform: rotate(0deg);
}

100% {
transform: rotate(360deg);
}
}

.fade-in {
opacity: 1;
transition: opacity 0.2s ease-in-out;
}

.fade-out {
opacity: 0;
pointer-events: none;
transition: opacity 0.2s ease-in-out, pointer-events 0.2s ease-in-out;
}

.counter-date {
font-weight: 100;
background-color: white;
max-width: max-content;
padding: 1em;
border-radius: 1em;
}


.date-complete{
font-size: 12px;
font-weight: 100;
margin-top: 1.5em;
}


.sidebar {
height: 100%;
width: 80px; /* Adjust as needed */
position: fixed;
left: 0;
background-color: #F3F8FF;
padding-top: 20px;
display: flex;
flex-direction: column;
justify-content: center; /* Center vertically */
align-items: center; 
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.sidebar a {
padding: 1.2em;
text-decoration: none;
color: #333;
display: block;
}

.sidebar a:hover {
background-color: white;
border-radius: 1em;
}

.main-content {
margin-left: 80px;
padding: 1.5em;
}

.table-flex img{
margin-left: 10px;
}

.table-no{
display: flex; 
flex-direction:row; 
align-items:center;
}

.table-no-text{
font-size: 24px;
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
margin-right: 16px;
font-weight: 900;
width: 30px;
flex-shrink: 0;
color: gray;
}

#topic-link{
display: inline-block;
width: 600px;
}

.bookmark{
display: flex;
flex-direction: row;
align-items: center;
}

.bookmark-flex:hover{
background-color: rgba(255, 0, 0, 0.2);
}

.bookmark-container{
padding: 1em;
border-radius: 1em;
margin: 1em;
align-items: center;
}

.bookmark-flex{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: rgba(255, 0, 0, 0.1);
padding: 1em;
border-radius: 1em;
}


.calendar-app {
background-color: #FAFDD6;
border-radius: 1em;
padding: 5px;
}

.header-app {
display: flex;
align-items: center;
justify-content: space-between;
padding: 1em;
border-bottom: 2px solid white;
color: black;
}

.header-app .btn-app {
background-color: transparent;
border: none;
color: black;
cursor: pointer;
padding: 0.5em;
}

.header-app .btn-app:hover {
background-color: white;
border-radius: 1em;
padding: 0.5em;
}

#currentMonth {
font-size: 18px;
margin: 0;
}

.days-container {
display: grid;
grid-template-columns: repeat(7, 1fr);
}

.day-app {
padding: auto;
border-radius: 1em;
padding-top: 2em;
padding-bottom: 2em;
text-align: center;
font-weight: 900;
color: gray;
}

.red-dot {
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  top: 5px;
  left: calc(50% - 4px); /* Adjust the position horizontally */
}


.day-app:hover {
background-color: rgba(255, 255, 0, 0.4);
color: black;
}  

.day-name{
justify-content: center;
align-items: center;
text-align: center;
margin-top: 1.5em;
margin-bottom: 1.5em;
}

.today {
background-color: rgba(255, 255, 0, 0.4);
color: black;
} 

.today:hover{
background-color: rgba(255, 255, 0, 0.4);
}

.week-day{
padding-top: 1.5em;
padding-bottom: 1em;
text-align: center;
}

.event-container{
color: black;
padding: 0;
display: flex;
flex-direction: row;
align-items: center;
font-weight: 100;
}

.test-flex{
display: flex;
flex-direction: row;
}

.test-container{
border: 1px solid #ddd;
border-radius: 1em;
color: black;
padding-left: 1em;
margin-bottom: 1em;
display: flex;
flex-direction: row;
align-items: center;
font-weight: 100;
margin-right: 20px;
width: 33.33%;
}

.test-container:nth-child(3){
margin-right: 0;
}

.test-event{
padding: 1em;
padding-left: 1.5em;
font-weight: 100;
width: 100%;
border-top-right-radius: 1em;
border-bottom-right-radius: 1em;
border-left: 2px solid white;
}

.date-test-container{
display: flex;
flex-direction: column;
background-color: #34495520;
color: #344955;
border-radius: 1em;
padding: 1em;
}

@media (max-width: 768px) {
.test-flex{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.test-container{
margin-right: 0px;
width: 100%;
}

.test-container:nth-child(1),
.test-container:nth-child(2),
.test-container:nth-child(3){
margin-right: 0;
}
}

.date{
font-size: 24px;
font-weight: 900;
justify-content: left;
}

.date-container{
display: flex;
flex-direction: column;
margin-right: 1.5em;
margin-left: 1em;
}

.event{
background-color: white;
color: black;
padding: 1em;
border-radius: 1em;
font-weight: 100;
width: 100%;
}

.flex-item {
margin-bottom: 20px; /* Adjust the value as needed */
}

.imp-date {
background-color: #FAFDD6;
color: black;
border-radius: 1em;
padding: 0.8em;
display: flex;
flex-direction: row;
align-items: center;
font-weight: 100;
max-width: max-content;
margin-right: 1em;
flex: 0 0 90%;
}

.date-imp {
font-size: 24px;
font-weight: 900;
justify-content: left;
}

.horizontal::-webkit-scrollbar {
display: none;
}

.horizontal {
overflow: auto;
flex-wrap: nowrap;
display: flex;
flex-direction: row;
}


.flex-row{
display: flex;
flex-direction: row;
background-color: #FAFDD6;
border-radius: 1em;
}

.flex-head{
padding: 1em;
padding-bottom: 1.5em;
padding-left: 1em;
margin-top: 0;
margin-bottom: 1.5em;
border-bottom: 2px solid white;
color: black;
font-weight: 900;
}

.flex-item:nth-child(1) {
flex-basis: 60%;
margin-right: 1.5em;
margin-left: 1.5em;
}

.flex-item:nth-child(2) {
flex-basis: 40%;
margin-top: 1em;
margin-right: 1em;
padding-left: 1em;
border-left: 2px solid white;
}

/* Media query for mobile devices */
@media screen and (max-width: 1024px) {

.sidebar {
height: 50px;
width: 100%; /* Adjust as needed */
bottom: 0;
padding-top: 10px;
padding-bottom: 10px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
z-index: 9999; /* Set a high z-index value */
}

.section{
margin-bottom: 100px;
}

.main-content {
margin-left: 0px; /* Adjust based on sidebar width */
padding: 0.2em;
}

.about{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
text-align: center;
margin-bottom: 100px;
}

}

@media screen and (max-width: 1024px){

.flex-row{
display: flex;
flex-direction: column;
background-color: white;
}

.flex-item:nth-child(1) {
flex-basis: 100%;
margin: 0;
}

.flex-item:nth-child(2) {
flex-basis: 100%;
margin: 0;
margin-top: 0.1em;
padding-top: 1em;
border-radius: 1em;
background-color: #FAFDD6;
border: 0;
padding-left: 0;
}

.flex-head{
color: black;
margin-bottom: 0;
padding-top: 0.5em;
padding-left: 1.5em;
}

.event-container{
background-color: #FAFDD6;
border-radius: 1em;
padding: 1em;
}

.calendar-app {
border-bottom: 2px solid white;
}

}

@media screen and (max-width: 768px){
#topic-link{
display: inline-block;
width: 100%;
}
}

/* Media Queries */
@media only screen and (max-width: 768px) {

.svg{
display: none;
}

table {
width: 100%;
margin: auto;
}

.table-questions{
margin-top: 10px;
}

.schedule{
display: flex;
flex-direction: column;
width: 100%;
margin-top: 40px;
}

.cards{
flex: 0 0 30%;
}

.home {
display: flex;
flex-direction: column;
justify-content: flex-start;
margin: 0;
padding: 1em; 
text-align: left;
align-items: left;
}

.card-layout{
display: flex;
flex-direction: row;
justify-content: left;
width: 100%;
margin: auto;
}

th, td{
text-align: left;
}

}